GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=replace-with-a-long-random-password
PROMETHEUS_BASIC_AUTH_USER=prometheus-admin
PROMETHEUS_BASIC_AUTH_HASH=$2y$12$OsbB.kLJTn2ityYL1udRhOFAUWGjSWt9pmmeHn6fd8mD5H.dug12G
CADVISOR_BASIC_AUTH_USER=cadvisor-admin
CADVISOR_BASIC_AUTH_HASH=$2y$12$brFyWNQo6iIwotWK0J55eOxE3zHJOdzFfiX2jvF.XzjvTRTFPX8fO
BACKUP_INTERVAL_SECONDS=86400
BACKUP_RETENTION_DAYS=7
